<html>

<!--
參考網站:https://www.w3schools.com/jsref/met_win_setinterval.asp?msclkid=8477e7deb26011eca802f226eb3b6d12
參考網站:https://medium.com/canal-tech/how-video-streaming-works-on-the-web-an-introduction-7919739f7e1
參考網站:https://developer.mozilla.org/zh-TW/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer
參考網站:https://developer.mozilla.org/zh-TW/docs/Web/API/MediaSource/MediaSource
參考網站:http://nickdesaulniers.github.io/netfix/demo/bufferAll.html
參考網站:https://www.videoconverterfactory.com/tips/check-video-codec.html
參考網站:https://cconcolato.github.io/media-mime-support/
重要參考網站  
https://stackoverflow.com/questions/45867579/mediasource-closed-after-appendbuffer  ,
https://stackoverflow-com.translate.goog/questions/14108536/how-do-i-append-two-video-files-data-to-a-source-buffer-using-media-source-api/?_x_tr_sl=en&_x_tr_tl=zh-TW&_x_tr_hl=zh-TW&_x_tr_pto=sc
ffmpeg -i in.mp4 -c copy -movflags frag_keyframe+empty_moov+default_base_moof out.mp4
-->


<head>

<title>Ajax</title>

<link rel="stylesheet" href="index.css">

</head>

<body>

<video controls="true" autoplay="true" name="media"  width="600" height="600" id="my-video" autoplay="autoplay"></video>

<br>
<div id="h" style="display:none;">{{camera_data["height"]}}</div> 
<div id="w" style="display:none;">{{camera_data["width"]}}</div> 

Suggest opening with Chrome browser. <br> 
Need to open with "Main.py",and it will run "Server Funtion" and "Camera Funtion". <br>
Need to run  with "Server Funtion" by using Flask module. <br> 
Need to run  with "Camera Funtion" by using OpenCV and DroidCam. <br>

Origin Size: Height={{camera_data["height"]}} , Width={{camera_data["width"]}} px. <br> 

Height:<input type="text" id="Height" name="Height" value="">
Width:<input type="text" id="Width" name="Width" value="">

<button onclick="Stream()">直播中</button>  &nbsp;&nbsp;

<button onclick="Play()" id="Play">Play</button>  &nbsp;&nbsp;

<button onclick="Pause()">Pause</button>  &nbsp;&nbsp;

<button onclick="Stop()" id="Stop">Stop</button>  &nbsp;&nbsp; 

<div style="display: none;" id="HostPort">{{camera_data["url"]}}</div> <!-- It will like this format: HOST:PORT, Example: 127.0.0.1:8080 -->
<button onclick="window.location.href='http://'+document.getElementById('HostPort').innerHTML+'/shutdown';">Shutdown Server</button>    &nbsp;&nbsp;

<button onclick="Reset()" id="Reset">Reset</button>  &nbsp;&nbsp;

<button onclick="Apply()" id="Apply">Apply</button>

<br><br>

Red（0~255）:<br><input type="range" id="r" min="-255" max="255" step="1" value="0"> <br>

Green（0~255）:<br><input type="range" id="g" min="-255" max="255" step="1" value="0"> <br>

Blue（0~255）:<br><input type="range" id="b" min="-255" max="255" step="1" value="0"> <br>

<script src="index.js"></script>

</body>