<html>
<head>
<title>Ajax</title>
</head>

<!--
參考網站:https://medium.com/canal-tech/how-video-streaming-works-on-the-web-an-introduction-7919739f7e1
參考網站:https://developer.mozilla.org/zh-TW/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer
參考網站:https://developer.mozilla.org/zh-TW/docs/Web/API/MediaSource/MediaSource
參考網站:http://nickdesaulniers.github.io/netfix/demo/bufferAll.html
參考網站:https://www.videoconverterfactory.com/tips/check-video-codec.html
參考網站:https://cconcolato.github.io/media-mime-support/
重要參考網站  
https://stackoverflow.com/questions/45867579/mediasource-closed-after-appendbuffer  ,
https://stackoverflow-com.translate.goog/questions/14108536/how-do-i-append-two-video-files-data-to-a-source-buffer-using-media-source-api/?_x_tr_sl=en&_x_tr_tl=zh-TW&_x_tr_hl=zh-TW&_x_tr_pto=sc
ffmpeg -i in.mp4 -c copy -movflags frag_keyframe+empty_moov+default_base_moof out.mp4
-->

<body>

<video controls="true" autoplay="true" name="media"  width="600" height="600" id="my-video" ></video>

<br>
<div id="h" style="display:none;">{{camera_data["height"]}}</div> 
<div id="w" style="display:none;">{{camera_data["width"]}}</div> 

Suggest opening with Chrome browser. <br> 
Need to open with "Main.py",and it will run "Server Funtion" and "Camera Funtion". <br>
Need to run  with "Server Funtion" by using Flask module. <br> 
Need to run  with "Camera Funtion" by using OpenCV and DroidCam. <br>

Origin Size: Height={{camera_data["height"]}} , Width={{camera_data["width"]}} px. <br> 
Camera Stream Player Source: <input type="text" id="Source" name="Source" value="/tmp/index0.bmp">

Height:<input type="text" id="Height" name="Height" value="">
Width:<input type="text" id="Width" name="Width" value="">

<button onclick="Play()" id="Play">Play</button>

&nbsp;&nbsp;

<button onclick="Stop()" id="Stop">Stop</button>

&nbsp;&nbsp;

<button onclick="window.location.href='http://127.0.0.1:5000/shutdown';">
      Shutdown Server
</button>

<script>
const videoTag = document.getElementById("my-video");
let src,Height,Width,streamID,h,w,tt,tim = 0;
let myMediaSource = new MediaSource();
let SourceBuffer;
let datas;
let url; 
let ArrayBufferResult;
let mimeCodec = 'video/mp4; codecs="avc1.42E01E"';
/*mimeCodec = 'video/mp4; codecs="avc1.42E01E,mp4a.40.2"'; /* 'video/mp4; codecs="avc1.42E01E,mp4a.40.2"' */
let delay = 2;
let total = 5;
let i = 0;
let ViewVideoTime ;
let detectSecond = 0.3;
let t = -1;

async function FetchAB(url){
    try{
        fetch(url, {method: 'GET',})
    	    .then(await function(response){return response.arrayBuffer();})
    		.then( (data)=>{
			                if(i-videoTag.currentTime>delay){videoTag.currentTime=i}
			                SourceBuffer.timestampOffset = i;
			                SourceBuffer.appendBuffer(data);
	                        i+=1;}) 
		}			
	catch(error){
        console.log(error); 
		}
}


function Video(){		
    url = URL.createObjectURL(myMediaSource);
    videoTag.src = url;
	
    myMediaSource.addEventListener('sourceopen', ()=>{
    SourceBuffer = myMediaSource.addSourceBuffer(mimeCodec);
	ViewVideoTime = setInterval(should_I_Append,1000);
	videoTag.play();
    } );
		
}

function should_I_Append(){
      tt = new Date();
	  tt = tt.getSeconds();
	  if(tt>t || (tt==0 && t==59)){
	  t = tt;
	  console.log(t);console.log(tt);
	  if(t>=delay){tim = t-delay;}
	  else{tim=60+t-delay;}
	  ///////////////////////////////////////////////////////////////////////////////////////////////
      FetchAB("http://127.0.0.1:5000/tmp/"+tim+".mp4"+ "?time=" + Date.now());}
  }

  
Video();
Source = document.getElementById("Source");
Height = document.getElementById("Height");
Width = document.getElementById("Width");
h = document.getElementById("h").innerHTML;
w = document.getElementById("w").innerHTML;





h = parseInt(h, 10);
w = parseInt(w, 10);
//w是h的幾倍，h乘以多少會變成w
scale = w/h;

h = (window.innerHeight)*2/3;
w = h*scale;

h = parseInt(h, 10);
w = parseInt(w, 10);

Height.value = h;
Width.value = w;
videoTag.height = Height.value;
videoTag.width = Width.value;
 videoTag.height = 600;
videoTag.width =600;
function stream(){
  let xhr = new XMLHttpRequest(); 
  xhr.responseType = 'text';
  xhr.open('get', 'http://127.0.0.1:5000/flag', true);
  
  xhr.onload = function (){
      if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200) {
              tmp = (xhr.responseText);
			  videoTag.setAttribute("src", tmp + "?time=" + Date.now()); 
          }
      }
  };
  
  xhr.send(null);
}

function Play(){
  let xhr = new XMLHttpRequest(); 
  xhr.open('get', 'http://127.0.0.1:5000/ToOpenCamera/1', true);
  
  xhr.onload = function(){
  src = Source.value;
  videoTag.height = Height.value;
  videoTag.width = Width.value;
  streamID = window.setInterval(stream, 500);}
  
  xhr.send(null);
}

function Stop(){
  let xhr = new XMLHttpRequest(); 
  xhr.open('get', 'http://127.0.0.1:5000/ToOpenCamera/0', true);
  
  xhr.onload = function(){
  window.clearInterval(streamID);} 
  
  xhr.send(null);  
}  

 
  
</script>
</body>